Horde/Library
Horde/Logs
Horde/Temp
Horde/.idea/.idea.Horde/.idea/workspace.xml
Horde/.idea/.idea.Horde/.idea/indexLayout.xml
Horde/.idea/.idea.Horde/.idea/contentModel.xml
*.csproj
*.sln
Horde/obj/Debug/Catalogs.csproj.AssemblyReference.cache
